---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>This text is a test text that demonstrates how text-wrap balanced works in css which aligns texts based on the width.</h1>
<h1 class="base">This text is a test text that demonstrates how text-wrap balanced doesn't works in css which alig based on the width.</h1>